/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

:root {
    --attribution-link: hsl(228, 45%, 44%); 
    --d-cyan: hsl(185, 75%, 39%);
    --d-desaturated-blue: hsl(229, 23%, 23%);
    --d-grayish-blue: hsl(227, 10%, 46%);
    --d-gray: hsl(0, 0%, 59%);
    --white: hsl(0, 100%, 100%);
}

body {
    background-clip: border-box;
    background-color: var(--d-cyan);
    background-image: url("images/bg-pattern-top.svg");
    background-position: left top; 
    background-repeat: no-repeat;
    color: var(--d-desaturated-blue);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 112.5%;
    font-weight: 400;
}

dl {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 20px;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-height: 100svh;
}

.age {
    font-size: 1.3rem;
}

.age, .location, .description {
    color: var(--d-grayish-blue);
}

.attribution { 
    font-size: 11px; 
    font-weight: 700;
    text-align: center; 
}
.attribution a {
    color: var(--attribution-link); 
}

.card {
    border-radius: 1rem;
    box-shadow: .9px .9px 80px -25px var(--d-desaturated-blue);
    width: 100%;
    background-color: var(--white);
    max-width: 28rem;
}

.description {
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .1rem;
    padding: .5rem;
}

.location {
    font-size: 1rem;
    font-weight: 400;
    display: block;
    padding: .5rem;
}

.name, .stats {
    font-weight: 700;
    font-size: 1.3rem;
}

.profile {
    text-align: center;
}

.profile-info {
    border-top: 1px solid var(--d-gray);
    padding: 1rem;
    text-align: center;
}

.sr-only {
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.user {
    bottom: 3rem;
    position: relative;
}

.user-banner {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}

.user-img {
    border-radius: 50%;
    border: solid var(--white) .5rem;
    position: relative;
    bottom: 4rem;
}




